html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #17181D;
    color: white;
}

header {
    height: 100px;
    width: auto;
    backdrop-filter: blur(25px);
    border-radius: 100px;
    border: 2px solid white;
    position: sticky;
    top: 0;
    z-index: 3;
}

.breadcrumb {
    height: 100px;
    width: auto;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 40px;
}

.breadcrumb li {
    padding: 5px;
    width: auto;
    list-style: none;
}

.breadcrumb a {
    color: gray;
    text-decoration: none;
    transition: ease-out .2s;
}

.breadcrumb a:active {
    color: white;
}

.breadcrumb a:hover {
    font-size: 20px;
    transition: ease-out .2s;
}

nav {
    width: auto;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    background-color: #17181D;
}

nav h1 {
    grid-column: 3 / span 4;
    grid-row: 2;
    align-self: flex-end;
    margin-bottom: 0px;
    font-size: 40px;
}

nav p {
    font-size: 25px;
    grid-column: 3 / span 2;
    grid-row: 3;
    align-self: flex-start;
    margin-top: 15px;
    border: 1px solid white;
    padding: 25px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}

nav img {
    grid-column: 7 / span 4;
    grid-row: 1 / span 2 ;
    height: auto;
    margin-left: 0px;
    padding-left: 0px;
}

main {
    display: grid;
    width: auto;
    height: 1200px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: #D6CDC6;
    color: black;
}

.squares {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    width: auto;
    height: 100px;
    grid-column: 3 / span 4;
    grid-row: 1 / span 2;
}

.currentS {
    height: 10px;
    width: 10px;
    margin: 10px;
    border: 1px solid black;
}

.currentS:active {
    background-color: darkblue;
}

.description, .skills, .JobExpSec, .education, .Hobbies, .proyects, .certifications {
    width: auto;
    height: 800px;
    border: 1px solid black;
    border-radius: 15px;
    grid-column: 2 / span 6;
    grid-row: 2 / span 4;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px;
    background-color: #E3E0DB;
}

.sub-container1 {
    height: 800px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.sub-container1 h2 {
    grid-row: 2;
    grid-column: 6 / span 2;
    align-self: center;
}

.sub-container1 img {
    filter: grayscale(100%);
    transition: ease-out 0.5s;
    z-index: 2;
}

.sub-container1 img:hover {
    filter: grayscale(0%);
    transition: ease-in 0.5s;
}

.sub-container1 img::-webkit-scrollbar-track {
    z-index: 1;
}

.paragraph-1 {
    grid-column: 6 / span 4;
    grid-row: 3 / span 2;
}

.paragraph-2 {
    grid-column: 6 / span 4;
    grid-row: 5 / span 2;
}

.paragraph-1, .paragraph-2 {
    padding: 25px;
}

.sub-container1 img {
    grid-column: 2 / span 6; 
    grid-row: 2 / span 6;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}


.skilly {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.skilly h2 {
    grid-column: 5 / span 2;
    align-self: center;
    justify-self: center;
}

.presentation {
    border: 1px solid black;
    grid-column: 2 / span 8;
    grid-row: 2 / span 8;
}

.arrowRight {
    width: 75px;
    height: 100px;
    grid-column: 10;
    grid-row: 5 / span 2;
    align-self: center;
    justify-self: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    opacity: 0.1;
}

.arrowLeft {
    width: 75px;
    height: 100px;
    grid-column: 1;
    grid-row: 5 / span 2;
    align-self: center;
    justify-self: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    opacity: 0.1;
}

.slideIndicator {
    grid-row: 10;
    grid-column: 5 / span 2;
    align-self: center;
    justify-self: center;
    opacity: 0.5;
}

.front-end {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 635px;
}

.front-end h3, .back-end h3 {
    grid-column: 5 / span 2;
}

.front-end img {
    width: 700px;
    height: 400px;
    grid-column: 3 / span 6;
    grid-row: 3 / span 6;
    align-self: center;
    justify-content: center;
}

.back-end {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 635px;
}

.back-end img {
    height: 350px;
}

.back-end h3 {
    grid-column: 5 / span 2;
    align-self: center;
    justify-self: center;
}

#mysql {
    grid-column: 2 / span 4;
    grid-row: 4 / span 4;
    align-self: center;
    justify-self: center;
}

#java {
    grid-column: 6 / span 4;
    grid-row: 4 / span 4;
    width: 500px;
    height: 350px;
    align-self: center;
    justify-self: center;
}

.other {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 635px;
}

.other h3 {
    grid-column: 5 / span 2;
    align-self: center;
    justify-self: center;
}

#title-1 {
    grid-column: 2 / span 2;
    grid-row: 3;
    justify-self: center;
    align-self: center;
}

#title-2 {
    grid-column: 6 / span 3;
    grid-row: 4;
    align-self: center;
    justify-self: center;
}

.videoimg {
    grid-column: 2 / span 3;
    grid-row: 4 / span 4;
}

.photoimg {
    grid-column: 6 / span 5;
    grid-row: 5 / span 4;
}

.languages {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 635px;
}

.languages h3 {
    grid-column: 5 / span 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.languages img {
    border: 1px solid black;
}

#flag-1 {
    grid-column: 2 / span 2;
    grid-row: 5 / span 4;
}

#flag-2 {
    grid-column: 5 / span 2;
    grid-row: 5 / span 4;
}

#flag-3 {
    grid-column: 8 / span 2;
    grid-row: 5 / span 4;
}

#language-1 {
    grid-column: 2 / span 2;
    grid-row: 4;
    align-self: center;
    justify-self: center;
}

#language-2 {
    grid-column: 5 / span 2;
    grid-row: 4;
    align-self: center;
    justify-self: center;
}

#language-3 {
    grid-column: 8 / span 2;
    grid-row: 4;
    align-self: center;
    justify-self: center;
}

.container {
    margin: 0px;
    padding: 0px;
    height: 800px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#pageIndicator {
    grid-row: 10;
    grid-column: 5 / span 2;
    align-self: center;
    justify-self: center;
    opacity: 0.5;
}

.container h2 {
    grid-column: 5 / span 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

#CSR {
    grid-column: 2 / span 8;
    grid-row: 2 / span 8;
    border: 1px solid black;
    height: 635px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#CSR h3, #DEV h3 {
    grid-column: 5 / span 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.info-1 {
    grid-column: 2 /span 6;
    grid-row: 3;
    align-self: center;
}

.tmobile {
    grid-column: 2 / span 2;
    grid-row: 4 / span 3;
}

.info-2 {
    grid-column: 5 / span 6;
    grid-row: 7;
}

.humana {
    grid-column: 6 / span 5;
    grid-row: 8 / span 2;
}

#DEV {
    grid-column: 2 / span 8;
    grid-row: 2 / span 8;
    border: 1px solid black;
    height: 635px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#DEV p {
    grid-column: 2 /span 6;
    grid-row: 3;
    align-self: center;
}

#DEV img {
    grid-column: 2 / span 2;
    grid-row: 4 / span 3;
}

.sub-container-2 {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.sub-container-2 h2 {
    grid-column: 10 / span 2;
    grid-row: 1;
    align-items: center;
    justify-self: center;
}

.college {
    grid-column: 2 / span 8;
    grid-row: 2 / span 8;
    border: 1px solid black;
    height: 700px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(5, 1fr);
    box-shadow: 10px 10px 10px;
}

.college h3 {
    grid-column: 8 / span 2;
    grid-row: 1;
}

.college p {
    grid-column: 2 / span 14;
    grid-row: 2;
}

.college img {
    grid-column: 6 / span 5;
    grid-row: 3 / span 2;
}

.extracurricular {
    grid-column: 12 / span 8;
    grid-row: 2 / span 8;
    border: 1px solid black;
    height: 700px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    box-shadow: 10px 10px 10px;
}

.extracurricular h3 {
    grid-column: 6 / span 2;
}

.eucademy {
    grid-column: 2 / span 12;
    grid-row: 2;
    align-self: center;
}

.eulogo {
    grid-column: 6 / span 5;
    grid-row: 3 / span 2;
    align-self: center;
}

.codeca {
    grid-column: 2 / span 12;
    grid-row: 6;
    align-self: center;
}

.codelogo {
    grid-column: 6 / span 5;
    grid-row: 7 / span 2;
    align-self: center;
}

footer {
    height: 700px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    height: 800px;
}

.main-container h2 {
    grid-column: 10 / span 2;
    grid-row: 1 / span 2;
}

.text {
    grid-row: 4 / span 4;
    grid-column: 2 / span 18;
    font-size: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px;
    border: 1px solid black;
    align-self: center;
    justify-self: center;
    width: auto;
}

.text p {
    margin: 0px;
    margin-bottom: 0px;
}

.images {
    grid-row: 10 / span 3;
    grid-column: 2 / span 18;
    display: flex;
    justify-content: space-around;
    width: auto;
}

.images img {
    height: 375px;
    width: auto;
}

